<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="close()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Detail of {{name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label slot="start">Name:</ion-label>
      {{name}}
    </ion-item>
    <ion-item lines="full">
      <ion-label slot="start">Start:</ion-label>
      {{start}}
    </ion-item>
    <ion-item lines="full">
      <ion-label slot="start">end:</ion-label>
      {{end}}
    </ion-item>
    <ion-item lines="full">
      <ion-label slot="start">Duration:</ion-label>
      {{duration/1000}}
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Back</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Delete</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
