<ion-header>
    <ion-toolbar>
      <ion-title>History</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of history">
        <ion-grid>
          <ion-row class="row">
            <ion-col>
              <ion-label>{{item.name}}</ion-label>
            </ion-col>
  
            <ion-col>
              <ion-note>Status: Completed on {{ item.start | date : 'dd/MM/yy h:mm:ss'}}</ion-note>
            </ion-col>
          </ion-row>
  
          <ion-row class="row">
            <ion-col>
              <ion-badge>Date created: {{ item.start | date: 'dd/MM/yy'}}</ion-badge>
            </ion-col>
  
            <ion-col>
              <ion-note>Description: {{item.description}}</ion-note>
            </ion-col>

          </ion-row>

          <ion-row class="buttonRow">
            <ion-col>
              <ion-button color="secondary" (click)="update(item.start)">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
  
        </ion-grid>
      </ion-item>
    </ion-list>
  
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  