<ion-header>
  <ion-toolbar>
    <img class="logo" slot="end" src="../../assets/logo/logo.svg">
    <ion-title slot="start">Record A Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="taskForm">
    <ion-list>
      
      <ion-list-header>
          Start a new Task
      </ion-list-header>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          <ion-item>
              <ion-label position="stacked">Task Name</ion-label>
              <ion-input type="text" name="taskName" placeholder="Type task name (minimum 3 chars)" formControlName="name"></ion-input>
          </ion-item>

    
          <ion-button [disabled]="!taskForm.valid" expand="full" (click)="start()" 
          *ngIf="!started && duration == 0">Start Task</ion-button>

          <ion-button color="success" expand="full" (click)="stop()" 
          *ngIf="started">Task Completed</ion-button>

          <ion-button color="secondary" expand="full" (click)="save()" 
          *ngIf="!started && duration > 0">Save and Reset</ion-button>

        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <ion-item *ngIf="time >= 0">
        {{time}} seconds
      </ion-item>

    </ion-list>
  </form>

  <ion-list>

  </ion-list>
</ion-content>
